{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  {{!-- {{{body}}} <!-- This is where the specific view content will be rendered -->
  {{! login.handlebars }} --}}
{{!-- {{#*inline "title"}}Login{{/inline}}

</body>
</html> --}} --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  {{!-- {{{body}}} <!-- This is where the view content goes --> --}}
  {{#*inline "title"}}Login{{/inline}}
</body>
</html>
