

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/style.css"> <!-- Link to the CSS file -->
</head>
<body>
  <h1>Welcome!</h1>
  <p class="welcome-message">{{message}}</p> <!-- Apply specific styles -->
 <a href="https://docs.google.com/spreadsheets/d/18e-FYhC8E0p-fOh_D_pfa4noabGL_hEXWft9NcKEeAs/edit#gid=1933413988">Click here to access the drive</a>
</body>
</html>
